default: &defaults
  test_property_id: 181353
  username: <%= ENV['ONSITE_USERNAME'] %>
  password: <%= ENV['ONSITE_PASSWORD'] %>
  lease_app_url: https://www.on-site.com/services/MITSLeaseApplicationService
  on_site_ips: []
  guest_card_referral_source: Property Website
  guest_card_initial_contact_type: Internet

development:
  <<: *defaults
  url: http://localhost:3000

test:
  <<: *defaults
  url: http://localhost:{{onsite_property_id}}/status

staging:
  <<: *defaults
  url: https://www.on-site.com/apply/property/{{onsite_property_id}}

production:
  <<: *defaults
  url: https://www.on-site.com/apply/property/{{onsite_property_id}}
